@media (min-width: 1331px){
    .quanjing{
        height: 670px;
    }
}
@media(max-width: 1330px){
    .quanjing{
        height: 520px;
    }
}
.index p{
    font-family: SimSun;
    letter-spacing: 10px;
}
.goTop {
    animation: Updown 1s infinite alternate;
}
.goTop:hover{
    cursor:pointer;
}
@keyframes Updown {
    from {
        margin-top: 30px;
    }
    to {
        margin-top: 10px;
    }
}