@media screen and(min-width: 1200px){
    .quanjing{
        height: 670px;
    }
}
.index p{
    font-family: SimSun;
    letter-spacing: 10px;
}
.goTop {
    animation: Updown 1s infinite alternate;
}
.goTop:hover{
    cursor:pointer;
}
@keyframes Updown {
    from {
        margin-top: 30px;
    }
    to {
        margin-top: 10px;
    }
}